<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#"
      lang='en'>
  <head>
    <title>Braeden Sowinski</title>
    <meta name='description' content="Personal Website for Breaden Sowinski (McDazzzled)" />
    <meta name='author' content="Braeden Sowinski" />
    <meta name='keywords' content="Braeden Sowinski, McDazzzled" />
    <meta property="og:image" content="https://www.mcdazzzled.com/static/images/preview.png" />
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="icon" type="image/png" href="/static/images/profile.ico"/>

    <!-- Load CSS -->
    <!-- <link rel='stylesheet' href='/static/css/css.css'> -->
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body class="js-stop-transition">

    <!-- Code of Braeden Sowinski | https://github.com/McDazzzled -->

    <!--

      Why are you looking at my code here?
      If you want to look at the code. Dont Inspect.
      Visit the github here -> https://github.com/McDazzzled/PersonalWebsite

    -->

    <header class=header>
      <nav class=nav>
        <div class=logo>
          <a href="/" title="McDazzzled (Alt + H)">
            <img src=/static/images/profile.png alt=logo style="border-radius:50%;" aria-label=logo height=32>McDazzzled
          </a>
          <span class="logo-switches">
            <button id=theme-toggle accesskey=t title="(Alt + T)">
              <svg id="sun" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"/>
              </svg>
              <svg id="moon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="12" r="5"/>
                <line x1="12" y1="1" x2="12" y2="3"/>
                <line x1="12" y1="21" x2="12" y2="23"/>
                <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"/>
                <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"/>
                <line x1="1" y1="12" x2="3" y2="12"/>
                <line x1="21" y1="12" x2="23" y2="12"/>
                <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"/>
                <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"/>
              </svg>
            </button>
          </span>
        </div>
        <ul id=menu>
          <li>
            <a href="/" title="Home">
              <span class=active>Home</span>
            </a>
          </li>
          <li>
            <a href="/about" title="about">
              <span>About</span>
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <!-- Main Body / Welcome Section -->
    <div class="main">
      <img src="/static/images/profile.gif" class="profile">
      <h1 class="name">Braeden Sowinski</h1>
      <span class="des">Freelance Development && Open Source Contributions</span>
      <div class="social-icons">
        <a class="icon" href=https://steamcommunity.com/profiles/76561199026616271/ target=_blank rel="noopener noreferrer me" title=Steam>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentcolor" stroke="none">
            <path d="M11.979.0C5.678.0.511 4.86.022 11.037l6.432 2.658c.545-.371 1.203-.59 1.912-.59.063.0.125.004.188.006l2.861-4.142V8.91c0-2.495 2.028-4.524 4.524-4.524 2.494.0 4.524 2.031 4.524 4.527s-2.03 4.525-4.524 4.525h-.105l-4.076 2.911c0 .052.004.105.004.159.0 1.875-1.515 3.396-3.39 3.396-1.635.0-3.016-1.173-3.331-2.727L.436 15.27C1.862 20.307 6.486 24 11.979 24c6.627.0 11.999-5.373 11.999-12S18.605.0 11.979.0zM7.54 18.21l-1.473-.61c.262.543.714.999 1.314 1.25 1.297.539 2.793-.076 3.332-1.375.263-.63.264-1.319.005-1.949s-.75-1.121-1.377-1.383c-.624-.26-1.29-.249-1.878-.03l1.523.63c.956.4 1.409 1.5 1.009 2.455-.397.957-1.497 1.41-2.454 1.012H7.54zm11.415-9.303c0-1.662-1.353-3.015-3.015-3.015-1.665.0-3.015 1.353-3.015 3.015.0 1.665 1.35 3.015 3.015 3.015 1.663.0 3.015-1.35 3.015-3.015zm-5.273-.005c0-1.252 1.013-2.266 2.265-2.266 1.249.0 2.266 1.014 2.266 2.266.0 1.251-1.017 2.265-2.266 2.265-1.253.0-2.265-1.014-2.265-2.265z"/>
          </svg>
        </a>
        <a class="icon" href=https://discord.gg/gnWegRuDPv target=_blank rel="noopener noreferrer me" title=Discord>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-discord" viewBox="0 0 16 16">
            <path d="M6.552 6.712c-.456 0-.816.4-.816.888s.368.888.816.888c.456 0 .816-.4.816-.888.008-.488-.36-.888-.816-.888zm2.92 0c-.456 0-.816.4-.816.888s.368.888.816.888c.456 0 .816-.4.816-.888s-.36-.888-.816-.888z"/>
            <path d="M13.36 0H2.64C1.736 0 1 .736 1 1.648v10.816c0 .912.736 1.648 1.64 1.648h9.072l-.424-1.48 1.024.952.968.896L15 16V1.648C15 .736 14.264 0 13.36 0zm-3.088 10.448s-.288-.344-.528-.648c1.048-.296 1.448-.952 1.448-.952-.328.216-.64.368-.92.472-.4.168-.784.28-1.16.344a5.604 5.604 0 0 1-2.072-.008 6.716 6.716 0 0 1-1.176-.344 4.688 4.688 0 0 1-.584-.272c-.024-.016-.048-.024-.072-.04-.016-.008-.024-.016-.032-.024-.144-.08-.224-.136-.224-.136s.384.64 1.4.944c-.24.304-.536.664-.536.664-1.768-.056-2.44-1.216-2.44-1.216 0-2.576 1.152-4.664 1.152-4.664 1.152-.864 2.248-.84 2.248-.84l.08.096c-1.44.416-2.104 1.048-2.104 1.048s.176-.096.472-.232c.856-.376 1.536-.48 1.816-.504.048-.008.088-.016.136-.016a6.521 6.521 0 0 1 4.024.752s-.632-.6-1.992-1.016l.112-.128s1.096-.024 2.248.84c0 0 1.152 2.088 1.152 4.664 0 0-.68 1.16-2.448 1.216z"/>
          </svg>
        </a>
        <a class="icon" href=https://github.com/McDazzzled target=_blank rel="noopener noreferrer me" title=Github>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37.0 00-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44.0 0020 4.77 5.07 5.07.0 0019.91 1S18.73.65 16 2.48a13.38 13.38.0 00-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07.0 005 4.77 5.44 5.44.0 003.5 8.55c0 5.42 3.3 6.61 6.44 7A3.37 3.37.0 009 18.13V22"/>
          </svg>
        </a>
        <a class="icon" href=https://twitter.com/braedensowinski target=_blank rel="noopener noreferrer me" title=Twitter>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M23 3a10.9 10.9.0 01-3.14 1.53 4.48 4.48.0 00-7.86 3v1A10.66 10.66.0 013 4s-4 9 5 13a11.64 11.64.0 01-7 2c9 5 20 0 20-11.5a4.5 4.5.0 00-.08-.83A7.72 7.72.0 0023 3z"/>
          </svg>
        </a>
        <a class="icon" href="mailto:sowinskibraeden@gmail.com" target=_blank rel="noopener noreferrer me" title=Email>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 21" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M4 4h16c1.1.0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1.0-2-.9-2-2V6c0-1.1.9-2 2-2z"/>
            <polyline points="22,6 12,13 2,6"/>
          </svg>
        </a>
        <a class="icon" href=https://ko-fi.com/mcdazzzled target=_blank rel="noopener noreferrer me" title=Kofi>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 -3 23 27" fill="none" stroke="currentcolor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round">
            <path d="M23.881 8.948c-.773-4.085-4.859-4.593-4.859-4.593H.723c-.604.0-.679.798-.679.798s-.082 7.324-.022 11.822c.164 2.424 2.586 2.672 2.586 2.672s8.267-.023 11.966-.049c2.438-.426 2.683-2.566 2.658-3.734 4.352.24 7.422-2.831 6.649-6.916zm-11.062 3.511c-1.246 1.453-4.011 3.976-4.011 3.976s-.121.119-.31.023c-.076-.057-.108-.09-.108-.09-.443-.441-3.368-3.049-4.034-3.954-.709-.965-1.041-2.7-.091-3.71.951-1.01 3.005-1.086 4.363.407.0.0 1.565-1.782 3.468-.963 1.904.82 1.832 3.011.723 4.311zm6.173.478c-.928.116-1.682.028-1.682.028V7.284h1.77s1.971.551 1.971 2.638c0 1.913-.985 2.667-2.059 3.015z"/>
          </svg>
        </a>
    </div>

    <!-- Disable transitions on webpage load -->
    <script>document.body.classList.remove('js-stop-transition')</script>

    <!-- Change Theme Scripts -->
    <script type="text/javascript">
        document.getElementById("theme-toggle").addEventListener("click", () => {
          document.body.className.includes("dark")?(document.body.classList.remove('dark'),
          localStorage.setItem("pref-theme",'light')):(document.body.classList.add('dark'),
          localStorage.setItem("pref-theme",'dark')),
          "dark"==sessionStorage.getItem("theme")?sessionStorage.setItem("theme","light"):sessionStorage.setItem("theme","dark"); 
        });
    </script>
    <script>
      // If storage is supported set theme to dark by default
      if (typeof(Storage) !== "undefined") {
        if (sessionStorage.getItem("theme")==null||sessionStorage.getItem("theme")==undefined) sessionStorage.setItem("theme", "dark");
        if (sessionStorage.getItem("theme")=='light') {
          document.body.className.includes("dark")?(document.body.classList.remove('dark'),
          localStorage.setItem("pref-theme",'light')):(document.body.classList.add('dark'),
          localStorage.setItem("pref-theme",'dark'));
        }
      }
    </script>
  </body>
</html>
