<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>McDazzzled</title>
    <meta name='description' content="Personal Website for Breaden Sowinski (McDazzzled)">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="icon" type="image/png" href="/static/images/profile.ico"/>

    <!-- Load CSS -->  
  <link type="text/css" rel="stylesheet" href="/static/css/notFound.css" />
  </head>
  <body class="js-stop-transition">

    <!-- Code of Braeden Sowinski | https://github.com/Braeden57 -->

    <!--

      Why are you looking at my code here?
      If you want to look at the code. Dont Inspect.
      Visit the github here -> https://github.com/Braeden57/PersonalWebsite

    -->

    <header class=header>
      <nav class=nav>
        <div class=logo>
          <a href="/" title="McDazzzled (Alt + H)">
            <img src=/static/images/profile.png alt=logo style="border-radius:50%;" aria-label=logo height=32>McDazzzled
          </a>
        </div>
        <ul id=menu>
          <li>
            <a href="/" title="Home">
              <span class=active>Home</span>
            </a>
          </li>
          <li>
            <a href="/about" title="about">
              <span>About</span>
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <!-- 404 Error Message -->
    <div id="notfound">
      <div class="notfound">
        <div class="notfound-404">
          <h1>404</h1>
          <h2>Page not found</h2>
        </div>
        <a href="/">Homepage</a>
      </div>
    </div>
    
    <!-- Disable transitions on webpage load -->
    <script>document.body.classList.remove('js-stop-transition')</script>
  </body>
</html>