*,::after,::before{
  box-sizing:border-box
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color:transparent;
}
body {
  font-size:18px;
  line-height:1.6;
  word-break:break-word;
  background: rgba(29,30,32,255);
  font-family:-apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
}
body.js-stop-transition * { transition:none !important; }
a,body,h1{
  color:var(--primary)
}
header,nav{
  display:block
}
ul{
  padding:0
}
ul li::before{
  content: '';
  position: absolute;
  top: 5%;
  width: 0;
  background-color: #eb5234;
  z-index: 9999;
  height: 3px;
  transition: 0.8s all;
}
ul li:hover::before {
  width: 45px;
}
a {
  transition: 0.8s;
}
a:hover {
  color: #eb5234;
}
a{
  text-decoration:none
}
body,ul{
  margin:0
}
.nav{
  color: #d8d8d9;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  max-width: calc(1024px + 24px * 2);
  margin-inline-start:auto;
  margin-inline-end:auto;
  line-height: 60px;
}
.nav a{
  display:block
}
.logo,#menu{
  display:flex;
  margin:auto 24px;
}
.logo{
  flex-wrap:inherit
}
.logo a{
  font-size:24px;
  font-weight:700
}
.logo a img{
  display:inline;
  vertical-align:middle;
  pointer-events:none;
  transform:translate(0,-10%);
  border-radius:6px;
  margin-inline-end:8px
}
#menu{
  list-style:none;
  word-break:keep-all;
  overflow-x:auto;
  white-space:nowrap
}
#menu li+li{
  margin-inline-start: 24px;
}
#menu a{
  font-size:16px
}
#menu .active{
  font-weight:500;
}
.main {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  padding: 10px;
  color: #d8d8d9;
}
.name {
  transition: 0.8s;
  font-size: 30px;
  font-weight: 900;
}
.name:hover {
  color: #eb5234;
}
.des {
  transition: 0.8s;
  font-size: larger;
}
.des:hover {
  color: #eb5234;
}
.profile {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  transition: 0.8s;
}
.profile:hover {
  width: 150px;
  height: 150px;
}
.social-icons {
  padding:12px 0;
}
.social-icons a:not(:last-of-type) {
  margin-inline-end:12px;
}
.social-icons a svg {
  height:26px;
  width:26px;
}
.social-icons a {
  color: #d8d8d9;
  text-decoration: none;
}
.icon {
  transition: 0.8s;
}
.icon:hover {
  color: #eb5234;
}
@media screen and (max-width:768px){
  .profile img{
      transform:scale(.85)
  }
  .first-entry{
      min-height:260px
  }
  .archive-month{
      flex-direction:column
  }
  .archive-year{
      margin-top:20px
  }
  .footer{
      padding:calc((60 - 24px - 10px)/2)24px;
  }
}
@media screen and (min-width:768px){
  ::-webkit-scrollbar{
      width:19px;
      height:11px
  }
}
@media screen and (max-width:900px){
  .list .top-link{
      transform:translateY(-5rem)
  }
}
@media(prefers-reduced-motion){
  .terms-tags a:active,.button:active,.share-buttons svg:active,.post-entry:active,.top-link,#searchResults .focus,#searchResults li:active{
      transform:none
  }
}